h3{text-align: center;}

  .search-result{float: left;margin-left: -40px;margin-top: -5px;}
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:497px;
  height: 16px;
  padding: 15px 10px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
 
.search-result li:hover {
  background-color: #00c9e6;
}
 
.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}
 
.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
.search-holder{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
#search-box {
  width: 100%;
  height: 3em;
  
}
 